@import url('https://fonts.googleapis.com/css?family=Lato:400i&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:local(.container){
    position: relative;
    width:100%;
        height: 100vh;
        background-image: linear-gradient(rgba(162, 155, 254, 0.5), rgba(108, 92, 231, 0.8), rgba(9, 132, 227,0.5));
        background-size: cover;
        filter: grayscale(0%);
}

:local(.heading){
    margin-top: 10px;
    text-align: center;
}

:local(.message_container){
    display:flex;
    flex-direction: column-reverse;
    width:100%;
    height: 400px;
    margin-top: 10px;
    border: 1px solid black;
    overflow: scroll;
    border-radius: 10px;
    padding:10px;
}
:local(.incoming),
:local(.outgoing){
display:grid;
grid-template-columns: 70%;
margin-bottom: 5px;

}
   
:local(.outgoing){
    justify-content: end;
    justify-items: end;
    
    
}
:local(.incoming){
    justify-content: start;
    justify-items: start;
    
}

:local(.others_list){
padding:5px;
font-family: 'Lato', sans-serif;
font-size: 16px;
background-color: #b2bec3;
border-radius: 5px;
margin-bottom: 3px;
}

:local(.own_list){
padding:5px;
font-family: 'Lato', sans-serif;
font-size: 16px;
color:white;
background-color:#0984e3;
border-radius: 5px;
margin-bottom: 3px;
}
:local(.extra_list){
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color:#636e72;
}
:local(.typingAlert){
    margin-top: 5px;
    padding:3px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color:#b2bec3;
}
:local(.input_div){
    margin-top: 20px;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

:local(.main_div){
    display: flex;
    justify-content: center;
}
:local(.button){
    margin-top: 25px;
    text-align: center;
}