@import url('https://fonts.googleapis.com/css?family=Lato:400i&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:local(.container){
    width:100%;
        height: 100vh;
        background-image: linear-gradient(rgba(162, 155, 254, 0.5), rgba(108, 92, 231, 0.8), rgba(9, 132, 227,0.5));
        background-size: cover;
        filter: grayscale(0%);

}

:local(.main){
    display:grid;
    grid-template-columns: 300px;
    grid-template-rows: 50px 400px 30px 50px;
    justify-content: center;
}

:local(.heading){
    border:1px solid black;
    background-color: #74b9ff;
    color:white;
    text-align: center;
}

:local(.message_container){
    background-image: linear-gradient(rgba(223, 230, 233, 0.5), rgba(178, 190, 195, 0.8), rgba(99, 110, 114, 0.5));
    display:flex;
    flex-direction: column-reverse;
    overflow: scroll;
    padding:10px;
    border:1px solid black;
}

:local(.incoming),
:local(.outgoing){
display:grid;
grid-template-columns: 70%;
margin-bottom: 8px;
}
   
:local(.outgoing){
    justify-content: end;
    justify-items: end;   
}

:local(.incoming){
    justify-content: start;
    justify-items: start;
    
}

:local(.others_list){
padding:6px;
font-family: 'Lato', sans-serif;
font-size: 16px;
background-color: #b2bec3;
border-radius: 5px;
margin-bottom: 3px;
}

:local(.own_list){
padding:6px;
font-family: 'Lato', sans-serif;
font-size: 16px;
color:white;
background-color:#0984e3;
border-radius: 5px;
margin-bottom: 3px;
}

:local(.extra_list){
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    color:#6c5ce7;
}

:local(.typingAlert){
    padding:3px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    color:#2d3436;
}

:local(.input_div){
    font-family: 'Lato', sans-serif;
}


:local(.input){
    border:1px solid black;
    border-radius: 5px;
    width:230px;
    height:50px;
}
:local(.button){
    width:68px;
    height:50px;
    
}